* {
	padding: 0;
	margin: 0;
	font-size: 12px;
}
body {
	background-color: #F5F5F5;
}
.top{
	height: 27px;
	background: url(../images/top_bg.jpg) repeat-x;
}
.top>ul{
	width: 1000px;
	height: 27px;
	margin: 0 auto;
	border: 1px solid transparent;
	box-sizing: border-box;
}
.top ul li{
	float: right;
	list-style-image: url(../images/arrow.jpg);
	width: 70px;
	line-height: 27px;
}
.top ul li a:link, .top ul li a:visited {
	color: red;
	text-decoration: none;
}
.top ul li a:hover, .top ul li a:active {
	color: red;
	text-decoration: none;
}
.center{
	width: 1000px;
	margin: 0 auto;
	/*background-color: royalblue;*/
}
.center .logo{
	width: 100%;
	height: 80px;
	background-color: #FFF;
	border: 1px solid transparent;
	box-sizing: border-box;
}
.center .logo .logoleft{
	float: left;
	width: 300px;
	height: 100%;
	background: url(../images/logo.jpg)no-repeat;
}
.center .logo .logoright{
	width: 300px;
	height: 28px;
	margin-top: 30px;
	float: right;
	display: inline;
	color: #8E8E8E;
	/*border: 1px solid darksalmon;*/
}
.center .logo .logoright img {
	vertical-align: middle;
	margin-right: 10px;
}
.tel {
	font-family: "微软雅黑";
	font-size: 22px;
	color: #C00;
}
.nav {
	height: 40px;
	width: 100%;
	background-color: #776E67;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.nav .navleft{
	float: left;
	width: 680px;
	margin-left: 10px;
	height: 100%;
	
}
.nav .navleft ul{
	width: 100%;
	height: 100%;
	/*border: 1px solid lightblue;*/
}
.nav .navleft ul li{
	float: left;
	width: 100px;
	list-style: none;
	line-height: 40px;
	text-align: center;
	font-family: "微软雅黑";
}
.navleft a:link, .navleft a:visited {
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}
.navleft a:hover, .navleft a:active {
	font-size: 16px;
	color: red;
	text-decoration: none;
}
.nav .navright{
	/*border: 1px solid lawngreen;*/
	width: 300px;
	height: 100%;
	float: right;
	margin-right: 10px;
}
.nav .navright .searchtext {
	width: 190px;
	float: left;
	height: 25px;
	margin-top: 5px;
	background: url(../images/search.jpg) no-repeat right center;
	background-color: #FFF;
	border: 1px solid #FFF;
	padding-right: 25px;
}
.myfocus{
	width: 100%;
	height: 320px;
	overflow: hidden;
}
.center .main {
	width: 100%;
	height: 250px;
	margin-top: 5px;
	background-color: #FFF;
	display: flex;
	justify-content: space-around;
	padding-left: 2px;
	padding-right: 2px;
}

.center .news, .project{
    display: inline;
    height: 250px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    
}
.news {
    width: 340px;
}
.center .title{
	padding-left: 20px;
    height: 35px;
    border-bottom: 2px solid #E8E8E8;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 35px;
    font-weight: bold;
    color: #786F66;
    padding-right: 10px;
}
.center .title .h22{
	width: 70%;
	float: left;
}
.center .title #spa{
	color: #999;
    text-decoration: none;
    font-family: "宋体";
    font-size: 10px;
    font-weight: normal;
    float: right;
}
.news .pic,.projectpic{
    height: 80px;
    margin-top: 10px;
    line-height: 22px;
}
.news .pic a,.projectpic a{
	color: #c00;
	text-decoration: none;
}
.news .news_content img,.projectpic img{
	display: inline-block;
	float: left;
	margin: 0 5px;
}
.news_list li {
	background: url(../images/list.jpg) no-repeat;
	list-style-type: none;
	padding-left: 10px;
	margin: 8px;
	border-bottom: 1px dotted #CCC;
	height: 17px;
	line-height: 17px;
}
.news_list span {
	float: right;
	color: #999;
}
.news_list a:link, .news_list a:visited {
	text-decoration: none;
	color: #000;
}
.news_list a:hover, .news_list a:active {
	color: #F00;
	text-decoration: none;
}
.project {
    width: 412px;
    margin: 0 7px;
    position: relative;
}
.project p{
	text-align: justify;
	letter-spacing: 0px;
}
.project .projectul{
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -161px;
}
.project .projectul ul{
	height: 28px;
	background: lightgrey;
	border-radius: 3px;
}
.project .projectul ul li{
	line-height: 28px;
	list-style: none;
	float: left;
	width: 75px;
	text-align: center;
	border: 1px solid white;
	border-radius: 3px;
}
.main .medio{
    width: 230px;
    display: inline;
    height: 250px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
}
.main .mediocontent{
	margin-top: 4px;
	margin-left: 4px;
}
.main .medio .mediopic{
	/*background-color: red;*/
	width: 100%;
	height: 50px;
	margin-top:4px;
	border-top: 1px solid #E8E8E8;
}
.main .medio .mediopic{
	display: block;
	width: 100%;
	height: 100%;
}
.bottom{
	clear: both;
	width: 100%;
	height: 200px;
	background-color: #E8e8E8;
	margin-top: 10px;
	padding-top: 20px;
	box-sizing: border-box;
}
.bottom .margin_ul{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.bottom .margin_ul li{
	list-style-type: none;
    float: left;
    width: 200px;
    text-align: center;
    background: url(../images/line.png) no-repeat right center;
    font-size: 18px;
    font-family: "微软雅黑";
    line-height: 30px;
    color: #999;
}
.bottom .margin_ul .margin_ul_li li{
	font-size: 14px;
}
.bottom .margin_ul li:nth-child(5){
	background: none;
}
